.Home-card{
	background: #fff;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}

.Home-price-card{
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
	display: block;
	border-radius: 5px;
	overflow: hidden;
}

.App-department-list{
	list-style: none;
	font-size: 20px;
}

.Dashb-tab-active{
	color: rgb(33, 132, 255);
}
